<div class="form-group">
  <label for="{{id}}">{{label}}</label>
  <input 
    type="{{type}}" 
    id="{{id}}" 
    name="{{name}}" 
    {{#if required}}required{{/if}}
    {{#if placeholder}}placeholder="{{placeholder}}"{{/if}}
    {{#if accept}}accept="{{accept}}"{{/if}}
  >
</div>