<html>
  <main class="form-container">
    <form class="auth-form" id="registrate-form">
      <h2>Регистрация</h2>
      
      {{{firstNameInput}}}
      
      {{{secondNameInput}}}
      
      {{{loginInput}}}
      
      {{{emailInput}}}
      
      {{{passwordInput}}}
      
      {{{phoneInput}}}
      
      {{{submitButton}}}
      
      <div class="form-footer">
        <a href="/authorize">Уже есть аккаунт? Войдите</a>
      </div>
    </form>
  </main>
</html>
